{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photogur</title>
</head>

<body>
    <header>
        <h1> <a href="{% url 'main_page' %}">Photogur</a></h1>
    </header>
<main>
    {% block content %}
    {% endblock %}
</main>
    <footer> Copyright Adam Cote </footer>
</body>

</html>